<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Star Rating with Vue</title>
    <link rel="stylesheet" href="styles.css">
    
</head>
<body>
    <div id="full-stars-example">
        <div class="rating-group" :class="['hover-star-' + hoverState, 'stars-given-' + starsGiven]" @mouseleave="removeStarState">

            <label aria-label="1 star" class="rating__label" for="rating3-1" @mouseover="checkStarState"></label>
            <input class="rating__input" name="rating3" id="rating3-1" value="1" type="radio" v-model="starsGiven">

            <label aria-label="2 stars" class="rating__label" for="rating3-2" @mouseover="checkStarState"></label>
            <input class="rating__input" name="rating3" id="rating3-2" value="2" type="radio" v-model="starsGiven">

            <label aria-label="3 stars" class="rating__label" for="rating3-3" @mouseover="checkStarState"></label>
            <input class="rating__input" name="rating3" id="rating3-3" value="3" type="radio" v-model="starsGiven">

            <label aria-label="4 stars" class="rating__label" for="rating3-4" @mouseover="checkStarState"></label>
            <input class="rating__input" name="rating3" id="rating3-4" value="4" type="radio" v-model="starsGiven">

            <label aria-label="5 stars" class="rating__label" for="rating3-5" @mouseover="checkStarState"></label>
            <input class="rating__input" name="rating3" id="rating3-5" value="5" type="radio" v-model="starsGiven">
        </div>

        <p>
            This element has {{starsGiven}}/5 stars
        </p>
    </div>

    
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js" integrity="sha384-t1tHLsbM7bYMJCXlhr0//00jSs7ZhsAhxgm191xFsyzvieTMCbUWKMhFg9I6ci8q" crossorigin="anonymous"></script>
    <script src="functions.js"></script>
</body>
</html>